# Disable directory listing globally
Options -Indexes

# Permitir acceso a todos los archivos
Order allow,deny
Allow from all

# Deshabilitar el listado de directorios (opcional)
Options -Indexes

# Forzar el uso de la codificación UTF-8
AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js .svg .woff .woff2

# Personalizar documentos de error (opcional)
ErrorDocument 401 /error.php?code=401
ErrorDocument 403 /error.php?code=403
ErrorDocument 404 /error.php?code=404
php_value display_errors On
php_value date.timezone America/Managua
